{% extends 'bot/theme/index.html' %}

{% block main %}


 <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6">
	<div class="p-5">
		<div class="table-responsive">
		<table class="table">
		<tr>
			<th>Activated:</th>
			<td>{{ profile.activated }}</td>
		</tr>
		<tr>
			<th>Package Type:</th>
			<td>{{ profile.get_account_type_display }}</td>
		</tr>
		</table>
		</div>
	       </div>
              </div>
            </div>
	    	    </div>
	</div>
        </div>

      </div>

    </div>





{% endblock %}
