{% extends 'bot/theme/index.html' %}

{% block main %}

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">NL Accounts</h1>
           </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nairaland Accounts</div>
		      {% for nairaland_account in nairaland_accounts %}
		      <div class="mb-0 font-weight-bold text-gray-800"><a href="{{ nairaland_account.get_absolute_url }}">{{ nairaland_account.username }}</a></div>
		      {% empty %}
		      <div class="mb-0 font-weight-bold text-gray-800"><small>No Nairaland accounts yet.</small></div>
		      
		      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

        <!-- /.container-fluid -->
	{% endblock %}
