{% extends 'bot/theme/index.html' %}

{% block main %}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
	<div class="p-5">
		<div class="col-auto">
	  <div class="text-center">
	    <h1 class="h4 text-gray-900 mb-4">Add Frontpage Job</h1>
	  </div>
		</div>
	  <form class="user" action='/jobs/fp/add/' method='POST'>
		  {% csrf_token %}
				     	<div class="col-auto">
                    <div class="form-group">
			 		      <textarea class="form-control" name="reply" row="10" placeholder="Reply" required></textarea>
		      	
                    </div>
	</div>


		    <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-user btn-block">
                      Add
		</button>
		    </div>
                                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



{% endblock %}
