{% extends 'bot/theme/index.html' %}

{% block main %}


 <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6">
	<div class="p-5">
		<div class="table-responsive">
		<table class="table">
		<tr>
			<th>Thread title:</th>
			<td>{{ object.thread_title }}</td>
		</tr>
		<tr>
			<th>Reply:</th>
			<td>{{ object.reply }}</td>
		</tr>
	</table>
		</div>
	       </div>
              </div>
            </div>
	    <div class="row pb-5 pl-2 pr-2">
		    <div class="col-4">
			    <div class="text-center">
				    {% if not object.activated %}

				    <a class="btn btn-sm btn-success" href="/jobs/td/{{ object.pk }}/activate">Activate</a>
				    {% else %}
				    <form method="POST" action="/jobs/td/{{ object.pk }}/deactivate/">
					    {% csrf_token %}
					    <input type="hidden" name="nl_account_pk" value="{{ object.nl_account_pk }}">
					    <button class="btn btn-sm btn-danger" type="submit" >Deactivate</button>
				    </form>
				    {% endif %}
			    </div>
		    </div>
		    <div class="col-4">
			    <div class="text-center">
				    <a class="btn btn-sm btn-primary" href="/jobs/td/{{ object.pk }}/edit">Edit Job</a>
			    </div>
		    </div>
		    <div class="col-4">
			    <div class="text-center">
				    <a class="btn btn-sm btn-danger" href="/jobs/td/{{ object.pk }}/delete">Delete</a>
			    </div>
		    </div>


	    </div>
	</div>
        </div>

      </div>

    </div>





{% endblock %}
